/*

.env
!.vimrc
!.zshrc
!.fzfrc
!.gitignore
!.tmux.conf
!tmux-lazygit.sh
!dyn-dev.sh
!.config/
.config/*
.config/espanso/match/priv.yml
!.config/nvim/
!.config/espanso/
!.config/sketchybar/
!.config/ghostty/
!.config/aerospace/
!.config/borders/
!.config/lazygit/
!install_sketchybar.sh
!install_aerospace.sh
!fzf-git.sh/

!scripts/

*-lock*
